html {
  margin: 0;
  padding: 0;
  width: 100vw;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* display: flex; */
  background-color: #1b1e1b;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}

/* #desc {
  width: 90vw;
} */
